.carousel-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 50%;
  scroll-padding-right: 50%;
  scroll-behavior: smooth;
  gap: 24px;
  padding: 24px;
  scroll-behavior: smooth;
}

.carousel-card {
  flex-shrink: 0;
  width: 340px;
  border-radius: 16px;
  overflow: hidden;
  scroll-snap-align: center;
  background-color: white;
  transform: scale(0.95);
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  border: none;
}

.carousel-card.focused {
  transform: translateY(-20px); /* ยกสูงขึ้น 20px */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเพื่อให้ดูเหมือนลอย */
  z-index: 10; /* ให้อยู่เหนือการ์ดอื่น */
}
.carousel-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-content {
  position: relative;
  z-index: 1;
  /* text-align: center; */
  /* width: 380px; */
}

.card-info {
  width: 95%;
  margin-left: 3%;
}

.info-box {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  margin-top: 1rem;
  background-color: rgba(35, 35, 35, 0.5);
  border-radius: 12px;
  padding: 0.75rem;
  color: white;
  text-align: left;
}
button {
  background: transparent;
}

button::after {
  background: transparent;
}
