.all-events-content {
  left: 157px;
  width: 100%;
  height: 100%;
  padding-left: 0;
  background-color: #fff;
  overflow-y: scroll;
}

.header {
  background-color: #FFD700;
  padding: 15px;
  height: 10px;
  display: flex;
}

.header h1 {
  margin-top: -4px;
  color: #1A1A1A;
  font-size: 18px;
}

/* .filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
} */

.date-picker-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.date-picker {
  width: 200px !important;
  margin-right: 20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: yellow;
}

.create-event-button {
  background-color: #0B8600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right : 20px
}

.create-event-button:hover {
  background-color: #0B8600;
  color: white;
}

/* .filter-options {

  margin-top: 10px;
} */
/*  */
/* .filter-item { */
  /* display: flex; */
  /* align-items: center; */
  /* background-color: rgba(207, 183, 11, 0.1); */
  /* color: black; */
  /* padding: 15px; */
  /* border-radius: 4px; */
  /* border-color: #CFB70B; */
  /* border-width: 1px; */
  /* border-style: solid; */
  /* cursor: pointer; */
  /* font-size: 18px; */
  /* width: 100%; */
  /* height: 100px; */
  /* box-sizing: border-box; */
/* } */
/* 
.filter-icon {
  width: 80px;
  height: 80px;
  margin-right: 8px;
} */

/* .filter-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 80px;
} */

/* .filter-text {
  color: black;
  font-size: 18px;
  margin-bottom: 5px;
} */
/* 
.filter-number {
  color: black;
  font-size: 28px;
  font-weight: bold;
} */

/* .additional-filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
} */
/* 
.filter-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

/* .search-group {
  flex-direction: row;
  align-items: center;
} */

/* .filter-select,
.search-box {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 0px;
  height: 50px;
  
} */

/* .search-box {
  margin-left: 30px;
  margin-top: 35px;
} */

/* .search-button {
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 0px;
  background-color: #CFB70B;
  color: black;
  border: none;
  cursor: pointer;
  width: 150px;
  height: 45px;
} */

/* .event-list {
  margin-top: 20px;
} */

/* .event-list-header,
.event-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
} */

/* .event-list-header {
  background-color: black;
  font-weight: bold;
  color: white;
} */

/* .event-list-item {
  background-color: white;
  color: #000;
} */

/* .column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
} */

.publish,
.unpublish,
.pending,
.active,
.closed,
.cancelled {
  font-weight: bold;
  border: none;
  padding: 0; 
  border-radius: 8px; 
  display: inline-flex;
  justify-content: center; 
  align-items: center; 
  font-size: 0.9em; 
  line-height: 1.2;
  min-height: auto; 
  min-width: auto; 
  width: auto;
  height: auto; 
  background-color: inherit; 
}

.publish,
.active {
  color: white !important;
  background-color: #0B8600;
  
}

.unpublish,
.closed {
  color: black !important;
  background-color: rgba(17, 19, 26, 0.12);
}

.pending {
  background-color: #0094FF;
}

.cancelled {
  background-color: #C82121;
}

.details-button {
  background-color: #CFB70B;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0px;
  width: 100px;
  height: 35px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.pagination button {
  background-color: #EEECEC;
  color: black;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #EEECEC;
  font-weight: bold;
  border-radius: 2px;
  border-color: #CFB70B;
}

.pagination button:hover {
  background-color: #CCC;
}
