.container {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 15px;
  padding: 10px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(207, 183, 11, 0.1);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: black;
}

.priceForm{
  max-height: 100vh;
  padding: 20px;
}

.select {
  width: 90%;
  height: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.selectContainer {
  display: flex;
  flex-direction: column;
}

.content {
  padding: 10px;
}

.ticketNoSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px
}