.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100vh; /* Full height */
  background-color: #1A1A1A;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.sidebar * {
  color: #FFFFFF; /* Ensure all text inside sidebar is white */
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #FFD700;
}

.menu {
  flex-grow: 1;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu-item {
  width: 90%;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s, color 0.3s; /* Added color transition */
}

.menu-item:hover{
  background-color: #FFD700; /* Ensure background color is applied */
  color: black; /* Ensure text color is applied */
}
.menu-item.active {
  background-color: #FFD700; /* Ensure background color is applied */
  width: 80%;
  color: black ; /* Ensure text color is applied */
}

.icon {
  margin-right: 10px;
}

.logout {
  margin-top: auto;
  padding: 20px 0;
  font-size: 12px;
}

.sidebarTitle {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 18px;
}

.ticketIcon {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  background-image: url('/ticket 1.svg'); /* Ensure the path is correct */
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px; /* Adjust spacing as needed */
  margin-left: -20px; /* Adjust spacing as needed */
}

.logout button {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  cursor: pointer;
  transition: background 0.3s;
  width: 128px;
  height: 33px;
  margin-top: -50px;
  border-radius: 0 0px 0 0; /* Top-right corner with 20px radius */
  border-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.logoutIcon {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url('/logout.svg'); /* Ensure the path is correct */
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 10px; /* Adjust spacing as needed */
}