.app {
  display: flex;
  position: relative;
}


.menu-bars {
  text-decoration: none;
  color: #ffffff;
}

.menu-bars.active {
  background-color: #ffd700;
  width: 100%;
  color: black;
  font-size: 16px;
  font-weight: 700;
  border-radius: 0;
  
}
.menu-bars.active * {
  color: black;
}

.ps-menu-button:hover {
  /* background-color: #ffd700 !important; */
  background-color: transparent !important;
  /* color: #ffd700 !important; */
  color: #cfcece !important;

}

.ticketIcon {
  width: 24px;
  height: 24px;
  background-image: url("/ticket 1.svg");
  background-size: contain;
  background-repeat: no-repeat;
  transition: filter 0.3s ease;

}


